.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 48px;
  gap: 10px;
}

.h1 {
  font-size: 48px;
  color: #343a40;
  margin-bottom: 20px;
}

.img {
  width: 50px;
  height: 50px;
}

.button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #ecf0f1;
  margin-left: 10px;
}

.button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
